<!DOCTYPE html>  
<html>  
  <head>  
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
  </head>  
  <body>
<h1 style="margin-left: 100px;">Денисов Максим Сергеевич</h1>
<div >
      <div >
        <a rel="nofollow" href><%= link_to(image_tag("DSC00772.JPG", :alt => "Promo Image", :style => "margin-left: 100px; margin-right: 80px; width:500px; float:left;"),
        "#")%></a>
      </div>
      <div >
      <p><font size="7">
      <div style="height: 10px;"><%= link_to("Обо мне", "#")%></div></br>
      <div style="height: 10px;"><%= link_to("Мои работы", "#")%></div></br>
      <div style="height: 10px;"><%= link_to("Сделать заказ", "#")%></div><br>
      <div style="height: 10px;"><%= link_to("Контакты", "#")%></div><br></font>
      </p>
      </div>
    </div>
</body>
</html>